body {
	background-color: #FFFFCC;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: black;
}

h1 {
  margin: 50px;
  text-align: center;
}

h2 {
  width: 300px;
	padding: 5px;
	border: 1px solid #FFCC33;
	background-color: #FFFF99;
	text-align: center;
	font-weight: bold;
}

a, a:hover, a:visited {
  color: blue;
  text-decoration: none;
}

li {
  display:inline;
  margin-right: 10px;
	line-height:150%;
}

ul {
	list-style-type: square;
}
